@import '../../assets/fonts.scss';

.arts{
    border: 2px solid black;
    margin-top: 3rem;
}

.arts__blocks{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid blue;
}

.arts__headers{
    margin-bottom: 3rem;

    & > *{
        margin: 0;
        text-align: center;
        font-family: $lexend-deca;
    }

    &--first{
        color: #F17900;
        font-size: 1rem;
        font-weight: $font-weight-regular;
    }

    &--second{
        font-size: 2rem;
        font-weight: $font-weight-regular;
    }
}