@import '../../assets/fonts.scss';

.button{
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: scale 0.7s linear;

    &:hover{
        transform: scale(1.05);
    }

    &__icon{
        display: inline-block;
        margin-right: 0.5rem;
    }

    &__text{
        color: white;
        font-family: $font-inter;
    }

    &--icon{
        justify-content: center;
        border-radius: 50%;
    }

    &--text{
        justify-content: center;
        border-radius: 5px;
    }

    &--icon_text {
        justify-content: space-between;
        border-radius: 5px;
    }
}