@import '../../assets/fonts.scss';

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.art-grid{
    &__container{
        background-color: white;
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        animation: appearance 0.7s forwards;
    }

    &__image{
        width: 80px;
        height: 80px;
        border: 1px #E0A449;
    }

    &__description{
        margin-left: 1rem;
        width: calc(100% - 80px - 1rem);
        height: 100%;
        display: inline-flex;
        
        &__text {
            font-family: $font-inter;
            width: 75%;
            height: 100%;
            overflow: hidden;
        
            &>* {
                margin: 0;
            }
        
            &--title {
                display: block;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 1.2rem;
                cursor: pointer;
                transition: text-decoration 0.7s linear;
                margin: 0 0 0.1rem 0;
        
                &:hover {
                    text-decoration: underline;
                }
            }

            &--artist{
                color: #E0A449;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &--is-public{
                margin-top: 5%;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }
        
        &__favorite {
            height: 100%;
            width: 25%;
        }
    }
}