@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.art-grid{
    &__container{
        background-color: rgba(255, 255, 255, 1);
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        animation: appearance 0.7s forwards;
        text-decoration: none;
    }

    &__image{
        width: 5rem;
        height: 5rem;
        border: 1px $highlighted-color-default;
    }

    &__description{
        margin-left: 1rem;
        width: calc(100% - 6rem);
        height: 100%;
        display: inline-flex;
        
        &__text {
            font-family: $font-inter;
            width: 75%;
            height: 100%;
            overflow: hidden;
            color: $default-text-color-dark;
        
            &>* {
                margin: 0;
            }
        
            &--title {
                display: block;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 1.2rem;
                margin: 0 0 0.1rem 0;
            }

            &--artist{
                color: $highlighted-color-default;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &--is-public{
                margin-top: 5%;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }
        
        &__favorite {
            height: 100%;
            width: 25%;
        }
    }
}