@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

.favorites__headers{
    font-family: $lexend-deca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > *{
        font-weight: $font-weight-bold;
        font-size: 4rem;
        margin: 0;
        text-align: center;
    }

    &__orange{
        color: $highlighted-color-strong;
        display: inline-flex;

        &--image{
            width: 4rem;
            height: 4rem;
            align-self: center;
        }
    }
}