$background-color: white;

.footer{
    background: $background-color;
    width: calc(100vw - 640px);
    height: 63px;
    padding: 32px 320px;

    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo{
        width: 206px;
        height: 63px;
    }

    &__modsen-logo{
        width: 164px;
        height: 59px;
    }
}