@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

.search {
    &__input {
        width: 31.25rem;
        height: 3.125rem;
    }

    &__header {
        font-family: $lexend-deca;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        width: 40rem;
        height: 10rem;
        margin-top: 0;

        &--highlight {
            color: $highlighted-color-strong;
            text-transform: capitalize;
        }


        @media (max-width: 1023px) {
            height: auto;
            width: 90%;
        }

        @media (min-width: 1023px) and (max-width: 1024px) {
            width: 35%;
        }
    }

    &__error{
        margin-top: 1rem;
        width: 20rem;
        height: 1.5rem;
        background-color: rgba(255, 255, 255, 1);
        border-radius: $default-border-radius;
        text-align: center;
        font-family: $lexend-deca;
        color: $highlighted-color-default;
        justify-self: center;
        box-sizing: $default-item-box-sizing;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}