@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

.search {
    &__input {
        width: 31.25rem;
        height: 3.125rem;
    }

    &__header {
        font-family: $lexend-deca;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        width: 40rem;
        height: 10rem;
        margin-top: 0;

        &--highlight {
            color: $highlighted-color-strong;
            text-transform: capitalize;
        }

        @media (max-width: 1024px) {
            width: 90%;
        }
    }
}