@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

$font-inter: "Inter", serif;
$lexend-deca: "Lexend Deca", serif;

$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-style: normal;