$header-background-color: linear-gradient(rgba(52, 51, 51, 1), rgba(72, 72, 72, 1), rgba(40, 40, 40, 1));
$main-background-color: rgba(242, 242, 242, 1);
$footer-background-color: rgba(255, 255, 255, 1);

$highlighted-color-default: rgba(224, 164, 73, 1);
$highlighted-color-strong: rgba(241, 121, 0, 1);
$default-text-color-dark: rgba(57, 57, 57, 1);
$default-text-color-light: rgba(255, 255, 255, 1);

$default-item-margin: 0;
$default-item-padding: 0;
$default-item-box-sizing: border-box;

$default-border-radius: 10px;
$small-border-radius: 5px;