@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

.details{
    &__container{
        width: 100%;
        // height: calc(100vh - 34.875rem);
        padding: 2rem;
        display: inline-flex;
        box-sizing: border-box;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }
    }
    
    &__image{
        max-width: 30%;
        height: 100%;
        position: relative; 

        &__img{
            max-width: 100%;
            max-height: 100%;
        }

        &__favorite{
            position: absolute;
            top: 1rem;
            left: calc(100% - 4.75rem);

            @media (max-width: 1024px) {
                width: 5rem;
                height: 5rem;
            }
        }

        @media (max-width: 1024px) {
            max-width: 100%;
        }
    }
}

.details__description{
    font-family: $lexend-deca;
    width: calc(70% - 2rem);
    margin-left: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1024px) {
        margin-top: 1rem;
        width: 100%;
    }

    &--header{
        margin-top: 0;
        font-size: 2rem;
        font-weight: $font-weight-regular;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 3rem;
        }

        @media (max-width: 1024px) {
            margin-bottom: 0.5rem;
        }
    }

    &__top{
        &--artist{
            margin: 0 0 0.5rem 0;
            color: $highlighted-color-default;
            font-size: 1.5rem;
            font-weight: $font-weight-regular;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 2rem;
            }
        }

        &--years{
            margin-top: 0;
            font-size: 1rem;
            font-weight: $font-weight-bold;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.5rem;
            }
        }
    }

    &__bottom__overview{
        list-style: none;
        padding: 0;
        margin: 0;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.5rem;
        }

        &__li{
            margin-bottom: 0.7rem;

            &--header{
                color: $highlighted-color-default;
                margin-right: 5px;
            }
        }
    }
}