@import '@/assets/fonts.scss';
@import '@/assets/variables.scss';

.not-found{
    width: 100%;
    text-align: center;
    font-family: $lexend-deca;
    color: $default-text-color-dark;

    &__h1{
        font-size: 3rem;
    }

    &__h3{
        font-size: 2rem;
        color: $highlighted-color-default;
    }
}